<div class="flex flex-col gap-4 px-4 py-4 sm:flex-row sm:items-center sm:justify-between">

    <!-- Result Information -->
    <p class="text-sm text-stone-500">
        Showing
        <span class="font-medium text-stone-700">
            {{ firstDisplayedItem }}
        </span>
        -
        <span class="font-medium text-stone-700">
            {{ lastDisplayedItem }}
        </span>
        of
        <span class="font-medium text-stone-700">
            {{ totalItems }}
        </span>
        items
    </p>

    <!-- Pagination Controls -->
    <div class="flex items-center gap-2">

        <!-- Previous -->
        <button
            class="flex size-9 items-center justify-center rounded-lg border border-stone-200 text-stone-600 transition-colors hover:bg-stone-100 disabled:cursor-not-allowed disabled:opacity-40 disabled:hover:bg-transparent"
            type="button"
            aria-label="Previous page"
            [disabled]="currentPage === 1"
            (click)="previousPage()">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" class="size-4">
                <path stroke-linecap="round" stroke-linejoin="round" d="m15 18-6-6 6-6" />
            </svg>
        </button>

        <!-- Page Numbers -->
        @for (page of pageNumbers; track page) {

            <button
                type="button"
                class=" flex size-9 items-center justify-center rounded-lg text-sm font-medium transition-colors"
                [ngClass]="{
                    'bg-stone-800 text-white': currentPage === page,
                    'border border-stone-200 text-stone-600 hover:bg-stone-100': currentPage !== page
                }"
                [attr.aria-label]="'Go to page ' + page"
                [attr.aria-current]="currentPage === page ? 'page' : null"
                (click)="goToPage(page)">
                {{ page }}
            </button>

        }

        <!-- Next -->
        <button
            type="button"
            aria-label="Next page"
            class="flex size-9 items-center justify-center rounded-lg border border-stone-200 text-stone-600 transition-colors hover:bg-stone-100 disabled:cursor-not-allowed disabled:opacity-40 disabled:hover:bg-transparent"
            [disabled]="currentPage === totalPages"
            (click)="nextPage()">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" class="size-4">
                <path stroke-linecap="round" stroke-linejoin="round" d="m9 18 6-6-6-6"/>
            </svg>
        </button>

    </div>
    
</div>