<!-- Content -->
<div class="w-full h-auto gap-8 grid grid-cols-2">

    <!-- Welcoming -->
    <div class="w-full flex flex-col gap-2 col-span-2">
        <p class="text-3xl font-bold">
            Welcome Back, Khairul.
        </p>
        <p>
            Today is Monday, 27 July, 2026
        </p>
    </div>

    <!-- Quick Analytics Cards -->
    <div class="w-full h-auto flex flex-row gap-8 col-span-2">
        <!-- Projects -->
        <div class="w-1/4 h-full p-8 gap-4 flex bg-white flex-col justify-between rounded-lg">
            <p class="font-semibold text-lg">Projects</p>
            <p>3</p>
        </div>
        <!-- Years of Experience -->
        <div class="w-1/4 h-full p-8 gap-4 flex bg-white flex-col justify-between rounded-lg">
            <p class="font-semibold text-lg">Experience</p>
            <div class="flex flex-row gap-2 items-end">
                <p>2</p>
                <p class="font-semibold text-lg">Years</p>
            </div>
        </div>
        <!-- Skills -->
        <div class="w-1/4 h-full p-8 gap-4 flex bg-white flex-col justify-between rounded-lg">
            <p class="font-semibold text-lg">Skills</p>
            <p>26</p>
        </div>
        <!-- Certificates -->
        <div class="w-1/4 h-full p-8 gap-4 flex bg-white flex-col justify-between rounded-lg">
            <p class="font-semibold text-lg">Certificates</p>
            <p>0</p>
        </div>
    </div>

    <!-- Current Active Project -->
    <div class="w-full h-auto p-8 flex flex-col gap-4 bg-white rounded-lg col-span-2">
        <p class="text-xl font-semibold">Monolith</p>
        <p>Status: Actively in development</p>
        <p>Progression: Approximately 10%</p>
        <p>Date Started: June 2026</p>
    </div>

    <!-- Recent Updates -->
    <div class="w-full h-auto p-8 flex flex-col gap-4 bg-white rounded-lg col-span-1">

    </div>

    <!-- To-Do List -->
    <div class="w-full h-auto p-8 flex flex-col gap-4 bg-white rounded-lg col-span-1">
        
    </div>
  
</div>

